<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a la cámara para tomar fotos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a la galería para seleccionar fotos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La App requiere acceso a su localización</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>La App requiere acceso a su localización</string>
	<key>UIAppFonts</key>
	<array>
		<string>medel.ttf</string>
		<string>liberation_sans_bold.ttf</string>
		<string>montserratmedium.ttf</string>
		<string>montserratregular.ttf</string>
	</array>
</dict>
</plist>
